.btn {
    @apply bg-white text-text font-semibold shadow-button py-2 px-3 rounded text-sm .no-underline;

    &:hover {
        @apply .shadow-button-hover;
    }

    &:active {
        @apply .shadow-button-active;
    }

    &[disabled], &.disabled {
        @apply .opacity-50 .shadow-none .cursor-default;
    }

    &.btn-flat {
        box-shadow: none !important;
    }

    &.btn-sm {
        @apply p-1;
    }

    &.btn-xs {
        padding: 0.33rem 0.66rem;
    }

    &.btn-lg {
        @apply py-4 px-8 text-base;
    }

    &.btn-primary {
        @apply bg-brand text-white;

        &:active {
            @apply bg-brand-dark;
        }
    }

    .material-icons {
        @apply float-left h-full;
        font-size: 16px;
    }
}

.btn-group {
    @apply float-right;

    .btn {
        @apply float-right;

        &:last-of-type {
            border-radius: 0.25rem 0 0 0.25rem;
        }

        &:first-of-type {
            border-radius: 0 0.25rem 0.25rem 0;
        }
    }
}
