.btn {
    @apply bg-white text-grey shadow py-2 px-3 rounded text-sm .no-underline;

    &:hover {
        box-shadow: 0 0 0 1px rgba(50, 50, 93, 0.1),
            0 2px 5px 0 rgba(50, 50, 93, 0.1),
            0 3px 9px 0 rgba(50, 50, 93, 0.08),
            0 1px 1.5px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    }

    &:active {
        box-shadow: 0 0 0 1px rgba(50, 50, 93, 0.08),
            0 2px 5px 0 rgba(50, 50, 93, 0.06),
            0 1px 1.5px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.06),
            0 0 0 0 transparent;
    }

    &.btn-flat {
        box-shadow: none !important;
    }

    &.btn-sm {
        @apply p-1;
    }

    &.btn-lg {
        @apply py-4 px-8 text-base;
    }

    &.btn-primary {
        @apply bg-brand text-white;

        &:active {
            @apply bg-brand-dark;
        }
    }

    .material-icons {
        @apply float-left h-full;
        font-size: 16px;
    }
}

.btn-group {
    @apply float-right;

    .btn {
        @apply float-right;

        &:last-of-type {
            border-radius: 0.25rem 0 0 0.25rem;
        }

        &:first-of-type {
            border-radius: 0 0.25rem 0.25rem 0;
        }
    }
}
