.calendar {
    @apply .w-full;

    .calendar-header, .calendar-rows {
        grid-template-columns: 75px 0.1425fr 0.1425fr 0.1425fr 0.1425fr 0.1425fr 0.1425fr 0.1425fr;
    }

    .calendar-header {
        @apply .border-b .border-off-white .py-4;
        display: grid;
        margin-bottom: 0.5rem;
    }

    .calendar-rows {
        display: grid;
        grid-auto-rows: 4rem;
        justify-content: center;
        line-height: 4;
        padding-right: 0.5rem;
        margin-bottom: 1px;
        grid-gap: 1px;

        .calendar-tile {
            @apply .text-center .bg-off-white .cursor-pointer .select-none;

            &:hover {
                @apply .bg-off-white-3;
            }
        }
    }
}
