input, textarea, select {
    @apply .border-none .bg-white .rounded .shadow-input .text-text .w-full;
    padding: 4px 9px;
    font-size: 14px;
    line-height: 1.6;
    transition: box-shadow .08s ease-in, color .08s ease-in;

    &[type="radio"] {
        @apply .border-none .shadow-none .text-text;

        &:focus {
            @apply .shadow-none;
        }
    }

    &:focus {
        @apply .shadow-input-focus;
    }

    &.plain {
        @apply .border-none .shadow-none;

        &:focus {
            @apply .shadow-none;
        }
    }
}

label {
    span {
        @apply .uppercase .text-grey-lightest .text-xs .font-semibold .pb-1 .inline-block .w-full;
    }
}
